@charset "ISO-8859-1";
body
{
	margin: 0;
	padding:0;
	font-size: 16px;
	font-weight: 300;
	width: 100%;
	background: rgb(204,204,204);
	font-family: 'Roboto Condensed',sans-serif;
	
}
h2,h4,p
{
	margin:0;
}
.page
{
	background: #fff;
	display:block;
	margin:3rem auto 3rem auto;
	position:relative;
	box-shadow:  0 0 0.5cm rgba(0,0,0,0.5);
}
.page[size="A4"]
{
	width:20cm;
	height:20cm;
	overflow-x:hidden;
}
/* top Section */
.top-section
{
	color:#fff;
	padding: 20px;
	height: 115px;
	background-color: #6a1b9a;
}
.top-section h2
{
	font-size: 42px;
	margin-bottom: 10px;
	font-weight: 400;
}
.top-section .address,.top-section .contact
{
	width: 50%;
	height: 100%;
	float: left;
	
}
.top-section .address-content
{
	max-width: 275px;
	
}
.contact .contact-content
{
	max-width: 220px;
	float:right;
	margin-top: 32px;
	
}

.contract-content{
	text-align:right;
	padding-top:60px;
}

.contact-content .email,
.contact-content .number
{
	display: block;
	margin-left: 200px;
}
.contact-content .email span,
.contact-content .number span
{
	float: right;
	margin-left: 50px;
}

/* Billing Invoice */
.billing-invoice
{
	padding: 20px;
	font-size: 20px;
	margin-bottom: 15px;
}
.billing-invoice .title
{
	font-weight: 400;
	float: left;
}
.billing-invoice .des
{
	font-weight: 400;
	float: right;
}
.billing-invoice .code
{
	font-weight: 700;
	text-align: right;
}
.billing-invoice .issue
{
	text-align: right;
	font-size: 15px;
}
.billing-invoice .Deliver
{
	text-align: right;
	font-size: 15px;
}
.billing-to
{
	padding: 20px;
	margin-top: 50px;
}
.billing-to .title
{
	font-weight: 400;
	font-size: 20px;
	margin-bottom: 7px;
}
.billing-to .billed-sec
{
	width: 50%;
	float: left;
	font-size: 18px;
	margin-bottom: 25px;
}
.billing-to .sub-title,
.billing-to .name
{
	font-weight: 400;
	font-size: 18px;
	margin-bottom: 5px;
}

.billing-to .ship-add
{
	max-width: 300px;
}
.page .heading
{
	
}
